In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('class1.db')

In [3]:
c = conn.cursor()

## Create Table

Database contains tables. Thus we need to create a table.

In [4]:
def createTable():
    c.execute('CREATE TABLE IF NOT EXISTS ourTable(unix REAL, datastamp TEXT, keyword TEXT, value REAL)')

In [5]:
def dataEntry():
    c.execute('''INSERT INTO ourTable VALUES(1453124241, '2019-12-20', 'Python', 1 )''')
    conn.commit()
    c.close()
    conn.close()

In [6]:
# createTable()
dataEntry()